<div class="centerdiv">
  <h1>Search results for "{{book.ISBN}}"</h1>
  <div class="boxshadow">
    <h2>Book Information</h2>
    <p class="information"><b>Title: </b>{{book.title}}</p>
    <p class="information"><b>Author: </b>{{book.author}}</p>
    <p class="information"><b>Price: </b> ${{book.price}}</p>
    <p class="information"><b>Publisher: </b> {{book.publisher}}</p>
  </div>
</div>